:root {
  --clr-primary: hsl(4, 100%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(231, 7%, 60%);
  --clr-neutral-800: hsl(235, 18%, 26%);
  --clr-neutral-900: hsl(234, 29%, 20%);

  --fs-300: 0.8rem;
  --fs-400: 0.9rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --fs-heading: var(--fs-800);

  @media (min-width: 60rem) {
    --fs-heading: var(--fs-900);
  }

  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: var(--fs-400);

  @media (min-width: 60rem) {
    background-color: var(--clr-neutral-800);
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  color: var(--clr-neutral-900);
  font-size: var(--fs-heading);
  margin-block-start: 0;

  @media (min-width: 60rem) {
    line-height: 0.6;
  }
}

button,
input {
  font: inherit;
}

.btn {
  padding: 0.8rem 1.2rem;
  text-align: center;
  border-radius: 6px;
  border: none;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  cursor: pointer;
  width: 100%;

  // TODO: Hover state of the button and Email Input Field.
}

[aria-hidden="true"] {
  display: none;
}
