:root {
  --clr-primary: hsl(4, 100%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(231, 7%, 60%);
  --clr-neutral-800: hsl(235, 18%, 26%);
  --clr-neutral-900: hsl(234, 29%, 20%);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin-block-start: 0;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
