.content__para {
  color: var(--clr-neutral-900);
}

.benefits {
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-block-end: 0.2rem;
    color: var(--clr-neutral-900);

    // Custom list style image
    &::before {
      content: url("../../public/icon-list.svg");
    }
  }
}

.email-input {
  margin-block-end: 1rem;

  .label-wrapper {
    margin-block-end: 0.4rem;
  }

  label {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
  }

  input[type="email"] {
    display: block;
    padding: 0.8rem 1.2rem;
    width: 100%;
    border: 1px solid var(--clr-neutral-500);
    border-radius: 6px;
  }
}

.image__mobile {
  width: 100%;
}

.image__desktop {
  width: 100%;
  display: none;
}

@media (min-width: 60rem) {
  .image__mobile {
    display: none;
  }

  .image__desktop {
    display: block;
  }
}
